{% extends "base.html" %} 
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 100%}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      {% comment %}background-color: #f1f1f1;{% endcomment %}
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    {% comment %}footer {{% endcomment %}
      {% comment %}background-color: #555;{% endcomment %}
      {% comment %}color: white;{% endcomment %}
      {% comment %}padding: 15px;{% endcomment %}
    {% comment %}}{% endcomment %}
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>

<div class="col-sm-11 mx-auto mt-5">
  <div class="row mb-3 block_href">
    <div class="col-12 mx-auto">
        <div class="card-deck">
            <div class="card" style="border-color:#424246;border-width: 3px">
                <div class="card-header" style="background-color:#424246;"><font color="white"><h4>Ontology and Annotation Features</h4></font></div>
                    <div class="card-body">
                        <ul class="mb-0">
                            <li><a href="/YMLA/glossaries_detail?query_page=gene_ontology" id="motivation_js">Gene Ontology (GO)</a></li>
                            <li><a href="/YMLA/glossaries_detail?query_page=molecular_function" id="motivation_js">Molecular Function (MF)</a></li>
                            <li><a href="/YMLA/glossaries_detail?query_page=biological_process" id="motivation_js">Biological Process</a></li>
                            <li><a href="/YMLA/glossaries_detail?query_page=cellular_component" id="motivation_js">Cellular Component (CC)</a></li>
                            <li><a href="/YMLA/glossaries_detail?query_page=disease_ontology" id="motivation_js">Disease Ontology (DO)</a></li>
                            <li><a href="/YMLA/glossaries_detail?query_page=mutant_phenotype" id="motivation_js">Mutant Phenotype</a></li>
                            <li><a href="/YMLA/glossaries_detail?query_page=biochemical_pathway" id="whatisyqfc_js">Biochemical Pathway</a></li>
                            <li><a href="/YMLA/glossaries_detail?query_page=protein_domain" id="whatisyqfc_js">Protein Domain</a></li>
                            <li><a href="/YMLA/glossaries_detail?query_page=physical_interactor" id="whatisyqfc_js">Physical interactor</a></li>
                            <li><a href="/YMLA/glossaries_detail?query_page=genetic_interactor" id="whatisyqfc_js">Genetic Interactor</a></li>
                            <li><a href="/YMLA/glossaries_detail?query_page=transcriptional_regular_targets" id="whatisyqfc_js">Transcriptional Regulator's Targets</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3 block_href">
        <div class="col-12 mx-auto">
            <div class="card-deck">
                <div class="card" style="border-color:#424246;border-width: 3px">
                    <div class="card-header" style="background-color:#424246;"><font color="white"><h4>Functional Gene Group Features</h4></font></div>
                        <div class="card-body">
                            <ul class="mb-0">
                                <li><a href="/YMLA/glossaries_detail?query_page=tf_encoding" id="motivation_js">293 TF-encoding Genes</a></li>
                                <li><a href="/YMLA/glossaries_detail?query_page=genes_with_introns" id="motivation_js">285 Genes with introns</a></li>
                                <li><a href="/YMLA/glossaries_detail?query_page=tata_box_containing_genes" id="motivation_js">1084 TATA Box-containing Genes</a></li>
                                <li><a href="/YMLA/glossaries_detail?query_page=induced_environmental_strss_response" id="motivation_js">278 induced Environmental Stress Response (iESR) Genes</a></li>
                                <li><a href="/YMLA/glossaries_detail?query_page=represseses_environmental_stress_response" id="motivation_js">584 repressesed Environmental Stress Response (iESR) Genes</a></li>
                                <li><a href="/YMLA/glossaries_detail?query_page=occupies_proximial" id="motivation_js">544 Occupied Proximal Nucleosome (iESR) Genes</a></li>
                                <li><a href="/YMLA/glossaries_detail?query_page=depletes_proximal" id="motivation_js">494 Depleted Proximal Nucleosome (iESR) Genes</a></li>
                                <li><a href="/YMLA/glossaries_detail?query_page=arsenic_realted_genes" id="motivation_js">535 Arsenic-related Genes</a></li>
                                <li><a href="/YMLA/glossaries_detail?query_page=phosphoinositide_binding_proteins" id="whatisyqfc_js">673 Phosphoinositide-binding Proteins</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row mb-3 block_href">
        <div class="col-12 mx-auto">
            <div class="card-deck">
                <div class="card" style="border-color:#424246;border-width: 3px">
                    <div class="card-header" style="background-color:#424246;"><font color="white"><h4>Gene/protein Property Features</h4></font></div>
                        <div class="card-body">
                            <h6>Gene Length</h6>
                            <ul class="mb-0">
                                <li><a href="/YMLA/glossaries_detail?query_page=3utr_length" id="motivation_js">3'UTR Length</a></li>
                                <li><a href="/YMLA/glossaries_detail?query_page=5utr_length" id="whatisyqfc_js">5'UTR Length</a></li>
                                <li><a href="/YMLA/glossaries_detail?query_page=cds_length" id="whatisyqfc_js">CDS Length</a></li>
                                <li><a href="/YMLA/glossaries_detail?query_page=protein_length_gene" id="whatisyqfc_js">Protein Length</a></li>
                            </ul> 
                            <br>
                            <h6>mRNA Isoform Number</h6>
                            <ul class="mb-0">
                                <li><a href="/YMLA/glossaries_detail?query_page=mrna_isoform_number" id="whatisyqfc_js">mRNA Isoform Number</a></li>
                            </ul>
                            <br>
                            <h6>Protein Physical Property</h6>
                            <ul class="mb-0">
                                <li><a href="/YMLA/glossaries_detail?query_page=protein_length_physical" id="whatisyqfc_js">Protein Length</a></li>
                                <li><a href="/YMLA/glossaries_detail?query_page=molecular_weight" id="whatisyqfc_js">Molecular Weight</a></li>
                                <li><a href="/YMLA/glossaries_detail?query_page=isoeletric_point" id="whatisyqfc_js">Isoeletric Point</a></li>
                                <li><a href="/YMLA/glossaries_detail?query_page=aliphatic" id="whatisyqfc_js">Aliphatic Index</a></li>
                                <li><a href="/YMLA/glossaries_detail?query_page=instability_index" id="whatisyqfc_js">Instability Index</a></li>
                            </ul>
                            <br>
                            <h6>Coding Region Translation Property</h6>
                            <ul class="mb-0">
                                <li><a href="/YMLA/glossaries_detail?query_page=codon_bias" id="whatisyqfc_js">Codon Bias</a></li>
                                <li><a href="/YMLA/glossaries_detail?query_page=codon_adaptation" id="whatisyqfc_js">Codon Adaptation Index</a></li>
                                <li><a href="/YMLA/glossaries_detail?query_page=frequency_of_optional" id="whatisyqfc_js">Frequency of Optional Codon</a></li>
                                <li><a href="/YMLA/glossaries_detail?query_page=hydropathicity_of_protein" id="whatisyqfc_js">Hydropathicity of Protein</a></li>
                                <li><a href="/YMLA/glossaries_detail?query_page=armaticity_score" id="whatisyqfc_js">Aromaticity Score</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="row block_href">
  <div class="col-12 mx-auto">
    <div class="card mb-3" style="border-color:#424246;border-width: 3px">
      <div class="card-header" style="background-color:#424246;"><font color="white"><h4>High-throughput probing Features</h4></font></div>
      <div class="card-body">
        <h6>Half-life</h6>
        <ul class="mb-0">
          <li><a href="/YMLA/glossaries_detail?query_page=mrna_half_life" id="collect_chipchip_js">mRNA Half-life</a></li>
          <li><a href="/YMLA/glossaries_detail?query_page=protein_half_life" id="collect_chipchip_js">Protein Half-life</a></li>
        </ul>
        <br>
        <h6>Gene Expression (Normal Condition)</h6>
        <ul class="mb-0">
          <li><a href="/YMLA/glossaries_detail?query_page=mrna_level" id="collect_chipchip_js">mRNA Level</a></li>
          <li><a href="/YMLA/glossaries_detail?query_page=protein_abundance" id="collect_chipchip_js">Protein Abundance</a></li>
        </ul>
        <br>
        <h6>Translational Efficiency</h6>
        <ul class="mb-0">
          <li><a href="/YMLA/glossaries_detail?query_page=translational_efficiency" id="collect_chipchip_js">Translational Efficiency</a></li>
        </ul>
        <br>
        <h6>Transcriptional Plasticity</h6>
        <ul class="mb-0">
          <li><a href="/YMLA/glossaries_detail?query_page=transcriptional_plasticity" id="collect_chipchip_js">Transcriptional Plasticity</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<hr class="col-12 mx-auto mb-3" style="border-width:.15rem">

</body>
</html>
{% endblock %}