{% extends "base.html" %} 
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 100%}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      {% comment %}background-color: #f1f1f1;{% endcomment %}
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    {% comment %}footer {{% endcomment %}
      {% comment %}background-color: #555;{% endcomment %}
      {% comment %}color: white;{% endcomment %}
      {% comment %}padding: 15px;{% endcomment %}
    {% comment %}}{% endcomment %}
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>
<!-- <div class="card-body">
  <div id="feature_description"></div>
  <div id="lipid_table_content">
    <table class=table table-bordered table-hover>
      <thead>
      <tr bgcolor=#EDEDED>
      <th>protein_domain</th>
      <th>Expected Ratio</th>
      <th>Observed Ratio</th>
      <th>-log10 of P-value</th>
      <th>-log10 of P-value after <a href="https://en.wikipedia.org/wiki/False_discovery_rate">FDR</a> corrected</th>
      <th>-log10 of P-value after <a href="https://en.wikipedia.org/wiki/Bonferroni_correction">Bonferroni</a> corrtected</th>
      </thead >
      <tbody id=element_row>
      </tbody>
      <tr >
        <td style=text-align:left;>SSF64268</td>
        <td style=text-align:left;>14 / 7194 ( 0.19% )</td>
        <td style=text-align:left;>14 / 240 ( 5.83% )</td>
        <td style=text-align:left;>20.8</td>
        <td style=text-align:left;>17</td>
        <td style=text-align:left;>16.7</td>
      </table>
  </div>
  <div class="row" style="auto">
      <div class="col-2"></div>
      <div class="col-4">
      <p><span class="math inline">\(\Large \text{P-value} =\sum\limits_{x \ge k}^{min(m,n)}{\frac{\binom{m}{x}\binom{N-m}{n-x}}{\binom{N}{n}}}\)</span></p>
      </div>
      <div class="col-6 text-start">
      <li>N: Amount of total Yeast genes set, 7194</li>
      <li>n: Amount of user-input genes</li>
      <li>m: Amount of Yeast genes in this feature</li>
      <li>k: Amount of intersection between n and m </li>
      </div>
  </div>
</div> -->

<div class="col-sm-11 mx-auto mt-5">
  <div class="row mb-3 block_href">
    <div class="col-12 mx-auto">
      <div class="card-deck">
        <div class="card" style="border-color:#424246;border-width: 3px">
          <div class="card-header" style="background-color:#424246;"><font color="white"><h4>YMLA Tutorial</h4></font></div>
            <div class="card-body">
              
                <p>1. <a href="#"  onclick="tutorial_focus('#figure1')">Input page</a></p>
                <p>2. <a href="#" onclick="tutorial_focus('#figure2')">Result Tables</a></p>
                <p>3. <a href="#" onclick="tutorial_focus('#figure3')">Heatmaps, and Network Views</a></p>
                <p>4. <a href="#" onclick="tutorial_focus('#figure4')">Customize feature analysis</a></p>
                <p>5. <a href="#" onclick="tutorial_focus('#figure5')">Detail page</a></p>
             
              <div id="figure1"><br><img src="{% static 'img/web_figures-1.jpg' %}" class="img-fluid" alt="Responsive image"></div>
              <p></p>
              <p>(a) Users can provide the gene lists of interest either via the text area or a .csv file.</p>
              <p>(b) Users also need to choose the features to be included in the analysis.</p>
              <p>(c) Click the ”Run Enrichment Analysis” button to begin the evaluation.</p>
              <div id="figure2"><br><img src="{% static 'img/web_figures-2.jpg' %}" class="img-fluid" alt="Responsive image"></div>
              <p></p>
              <p>(a) The gene item summary for the input multiple gene lists.</p>
              <p>(b) Users can select the feature of interest to investigate the enrichment analysis results.</p>
              <p>(c) Users can reset the multiple hypotheses correction methods and the significance thresholds.</p>
              <p>(d) The tabular view of the enrichment analysis results. Users can click the hyperlinks to navigate the detailed results.</p>
              <div id="figure3"><br><img src="{% static 'img/web_figures-3.jpg' %}" class="img-fluid" alt="Responsive image"></div>
              <p></p>
              <p>(a)/(b) Users can click the tab to switch to the heatmap/network view of the analysis results.</p>
              <p>(c) The heat map view of the analysis results.</p>
              <p>(d) The network view of the enrichment analysis results. </p>
              <div id="figure4"><br><img src="{% static 'img/web_figures-4.jpg' %}" class="img-fluid" alt="Responsive image"></div> 
              <p></p>
              <p>(a) Users can pick the features related to some mechanisms hypotheses to form a new enrichment analysis.</p>
              <p>(b) Click the ”Generate Custom summary” button to re-perform the enrichment analysis using the customized feature set.</p>
              <div id="figure5"><br><img src="{% static 'img/web_figures-5.jpg' %}" class="img-fluid" alt="Responsive image"></div> 
              <p></p>
              <p>When the hyperlinks in the analysis result tables are clicked, the detailed page that supports the analysis will be shown.</p>
              <p>(a) The item summary reminder of this detail page for users.</p>
              <p>(b) Indication of how the enrichment scores are calculated in YMLA.</p>
              <p>(c) The detailed enrichment results that support the presented enrichment analysis. </p>
            </div>
          </div>   
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script>
  function tutorial_focus(focus){
  // let urlParams = new URLSearchParams(window.location.search);
  // query = urlParams.get('focus');
  $('html,body').animate({scrollTop:$(focus).offset().top},800);
}
</script>
</html>
{% endblock %}
